/* Root variables */

:root {
  /* Define a root variables for color palette */
  --primary-color: #850E35;
  --secondary-color: #FFF5E4;
  --accent1-color: #EE6983;
  --accent2-color: #FFC4C4;
}

/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--secondary-color);
}

html,
body {
  width: 100%;
  height: 100%;
}

.page-wrapper {
  width: 100%;
}


/* Navigation styles */

header {
  background-color: var(--primary-color)
}

header a {
  text-decoration: none;
}

h1 {
  color: var(--accent2-color);
  font-size: 1.8rem;
  font-variant: small-caps;
  text-align: center;
}

.navbar {
  width: 80%;
  margin: auto;
}

.navbar ul {

  margin-top: 0.2rem;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--accent2-color);
}

.navbar ul li a:hover {
  color: var(--accent1-color);
  font-weight: 600;
}

/* Hero-banner styles */
.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 2.5rem;
}

.hero-title {
  color: var(--accent1-color);
  font-weight: 600;
  text-align: center;

}

/* Page content styles */

.page-section {
  width: 100%;
  margin-bottom: 0.8rem;
}

.page-section img {
  width: 100%;
  height: auto;

}

.page-section h2 {
  text-align: center;
  text-decoration: underline;
}


/* About section styles */
.about-info p {
  padding: 0.2rem;
  font-size: 1.2rem;
}

.row {
  width: 100%;
}

.about,
.work,
.contact {
  padding-top: 2rem;
}

.about-info,
.portfolio-gallery {
  margin: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.about-info img {
  display: block;
  max-width: 80%;
  margin: auto;
  transform: scaleX(-1);
}

figure {
  position: relative;
}

.profile {
  text-align: center;
}

/* Work section styles */


figure img {
  display: block;
}

.portfolio-box {
  margin: 5px;
  height: auto;
  border: 2px solid black;
}

.portfolio-box:hover {
  border: 2px solid var(--primary-color);
}

.portfolio-box1 {
  height: 25%;
}

.row {
  width: 100%;
}

.portfolio-box figcaption {
  width: 10rem;
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 2;
  background-color: var(--accent2-color);
  padding: 0.2rem;
  margin-bottom: 0.2rem;
}

.portfolio-box1 figcaption {
  top: 80%;
}

.overlay {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
}

.overlay:hover {
  opacity: 0;
}

/* Contact section styles*/

.contact-info {
  padding: 1rem;
}

.contact-menu ul {
  padding-top: 0.5rem;
  list-style-type: none;
}

.contact-menu ul li a {
  color: black;
  text-decoration: none;
}

.contact-menu a:hover {
  color: var(--primary-color);
  font-weight: 600;

}

/* Footer styles */
footer {
  padding: 1rem;
  background-color: var(--primary-color);
  text-align: center;
  color: var(--accent2-color);
}



/* Responsive styles */

/* small screens/mobile */
@media only screen and (min-width: 425px) and (max-width:575px) {
  .page-wrapper {
    max-width: 80%;
    margin: 0 auto;
  }
}


/* small screens/mobile */
@media only screen and (min-width: 576px) {

  .row {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    width: 20%;
    font-size: 1.6rem;
    text-align: center;
    padding-right: 0.5rem;
  }

  .navbar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
  }

  .navbar ul {
    width: 100%;
    justify-content: space-between;
  }

  .hero-banner {
    height: 3.5rem;
  }

  .hero-title {
    font-size: 1.8rem;
    font-weight: 800;
    text-align: right;
    padding-right: 1.5rem;
  }

  .page-section {
    display: flex;
  }

  .page-section h2 {
    text-align: right;
    text-decoration: none;
    padding-right: 1.5rem;
    width: 20%;
    border-right: 2px solid black;
  }

  .about-info,
  .portfolio-gallery {
    max-width: 80%;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .portfolio-box figcaption {
    top: 50%;
  }

  .portfolio-box1 {
    width: 100%;
  }

  .portfolio-box1 figcaption {
    top: 90%;
  }

  .contact-info {
    padding-left: 2rem;
  }
}


/* on medium screens/tablets  */
@media only screen and (min-width: 768px) {

  .about-info {
    display: flex;
  }

  .about-info p {
    padding-right: 1.3rem;
    width: 50%;
  }

  .about-info img {
    max-width: 100%;
    transform: scaleX(-1);
  }

  .portfolio-box1 figcaption {
    width: 10rem;
    top: 90%;
    margin-bottom: 0.2rem;
  }

  .navbar {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  .navbar ul {
    display: flex;
    justify-content: space-between;
  }

  .hero-banner {
    height: 5.5rem;
  }

  .hero-title {
    font-size: 2rem;
    font-weight: 800;
    padding-right: 2rem;
  }

  .row-2 {
    display: flex;
  }

  .row-3 {
    display: flex;
  }

  .portfolio-box2 {
    width: 50%;
  }

  .portfolio-box3 {
    width: 50%;
  }

  .portfolio-box4 {
    width: 50%;
  }

  .portfolio-box5 {
    width: 50%;
  }

  .about-info,
  .portfolio-gallery,
  .contact-info {
    width: 70%;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact-menu ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .contact-info {
    font-size: 1.2rem;
  }
}